$font-url : 'https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet';
:root {
    --cq-portfolio-fonts-roboto: "Roboto", sans-serif;
    --cq-portfolio-fonts-muli: "Inter", sans-serif;
}