@use '../../utils' as *;

.social-media {
  & .socail-media-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media #{$sm, $xs}{
      flex-direction: column;
    }


    .socail-media-left{
      span {
        color: #565656;
        font-size: 18px;
        font-family: var(--cq-portfolio-fonts-muli);
        line-height: 27px;
      }
    }
    .socail-media-right{
      & ul{
        display: flex;
        align-items: center;
        list-style: none;
        gap: 20px;
        
        @media #{$sm, $xs}{
          gap: 10px;
        }

        & li{
          & a{
            display: inline-block;
            color: #565656;
            font-size: 18px;
            font-family: var(--cq-portfolio-fonts-muli);
            line-height: 27px;
            border-bottom: 1px solid #000;
            &:hover{
              color: #000;
            }

            @media #{$sm, $xs}{
               font-size: 14px;
            }
          }
        }
      }
    }
  }
}