:root {
    --cq-portfolio-theme-color: red;
    --cq-portfolio-theme-sec-color: blue;
    --cq-portfolio-black: black;
    --cq-portfolio-white: white;
    --cq-portfolio-grey-color: #f6f6f6;
    --cq-portfolio-grey-color-2: #f6f6f6;
    --cq-portfolio-grey-color-3: #f6f6f6;
    --cq-portfolio-grey-color-4: #f6f6f6;
}